.bg-white-F5F5F5 {
    background-color: #F5F5F5;
}

.bg-white-fff {
    background-color: #fff;
}

.bg-gray-424242 {
    background-color: #424242;
}

.bg-yellow-FFD366 {
    background-color: #FFD366;
}

.bg-transparent {
    background: transparent;
}

///
.bg-green {
    background-color: #86D73F;

}

.bg-blue {
    background-color: #31BAF9;

}

.bg-orange {
    background-color: #FF982D;
}


.bg-orange-darken {
    background-color: #FF6C03;

}

.bg-red {
    background-color: #FF1200;

}