.text-gray-424242 {
    color: #424242;
}

.text-gray-4A4A4A {
    color: #4A4A4A;
}

.text-yellow-FFD366 {
    color: #FFD366;
}

.text-white-FFFFFF-50 {
    color: rgba(255, 255, 255, 0.50);
}

.text-gray-4A4A4A {
    color: #4A4A4A;
}

.text-center {
    text-align: center;
}

.text-bold {
    font-weight: bold;
}

.text-blue {
    color: #31BAF9;
}

.text-red {
    color: #FF1200;
}

.text-orange {
    color: #FF982D;
}

.text-orange-darken {
    color: #FF6C03;
}

.text-green {
    color: #86D73F;
}

.word-break-keep {
    word-break: keep-all;
}