.text-white {
    color: $white;
}

.text-yellow-secondary {
    color: $yellow-secondary;
}

.text-origin {
    color: $black;
}

.text-purple {
    color: $purple;
}

.text-blue {
    color: $blue;
}

.text-gray {
    color: $gray;
}

.text-gray-lighten {
    color: $gray-lighten;
}