@import "variable";
@import "mixin/mediaquery";
@import "reset";
@import "utility/color";
@import "utility/text";
@import "utility/position";
@import "utility/display";
@import "utility/box";
@import "layout/header";
@import "layout/footer";
@import "component/card";
@import "component/pagation";

.container {
    max-width: 1024px;
    padding: 0 40px;
    margin: 0 auto;

    @include phone-576 {
        padding: 0 24px;
    }
}
.main {
    margin-top: -107px;

    .popular {
        background: #FFFFFF;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.20);
        border-radius: 5px;
        padding: 20px 26px 18px;
        margin-bottom: 37px;
        top: 0;
        left: 0;
        z-index: 999;

        @include phone-425 {
            width: 100%;
            padding-right: 10px;
            padding-left: 10px;
        }

        .tittle {
            margin: 0 0 14px 0;
        }
    }

    .area-btn {
        flex: 0 1 24%;
        padding: 5.5px 0;

        border-radius: 5px;
        cursor: pointer;
        @extend .text-white;

        &:last-of-type {
            margin: 0;
        }

        &:hover {
            box-shadow: 0 0 3px 3px #000000;
        }

        @include phone-576 {
            font-size: 18px;
            padding: 10px 0;
        }
    }
}

.zone-tittle {
    margin-bottom: 24px;
}

.dashed-border {
    margin-bottom: -12px;
    outline: 1px dashed $blue;
}

.circle {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid $blue;
    padding: 6px 0;
    margin: 0 auto 65px;
}

.down-arrow {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 11px solid $blue;
    margin: 0 auto;
}

.go-top {
    position: fixed;
    bottom: 195px;
    right: 0%;
}