.list {

    @extend .flex;
    @extend .justify-content-between;
    @extend .align-items-center;
    @extend .bg-white-fff;
    margin-bottom: 18px;
    padding-right: 12px;

    &-condition-color {
        padding: 31px 0px;
        margin-right: -21px;
    }

    &-tittle {
        @extend .text-gray-4A4A4A;
        @extend .text-bold;
        @extend .h2;
        min-width: 80px;
        margin-right: -20px;
    }

    &-subtitle {
        @extend .h4;
        @extend .text-gray-4A4A4A;
    }

    &-data {
        @extend .flex;
        @extend .justify-content-between;
        @extend .text-gray-4A4A4A;
        @extend .text-bold;
        margin-left: 7px;
        font-size: 20px;


    }
}