html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h4,
small {
  font-weight: bold;
}

h1,
.h1 {
  font-size: 40px;
}

h2,
.h2 {
  font-size: 36px;
}

h3,
.h3 {
  font-size: 24px;
}

h4,
.h4 {
  font-size: 20px;
}

h5,
.h5 {
  font-size: 18px;
}

small,
.small {
  font-size: 14px;
}

a {
  text-decoration: none;
  color: #000000;
}

select {
  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
}

/* For IE10 */
select::-ms-expand {
  display: none;
}

select,
button {
  border: none;
  outline: none;
}

button {
  background-color: transparent;
  cursor: pointer;
}

img {
  max-width: 100%;
  display: block;
}

html {
  scroll-behavior: smooth;
}

.bg-white, .card-info {
  background-color: #FFFFFF;
}

.bg-pink {
  background-color: #FFA782;
}

.bg-purple {
  background-color: #8A82CC;
}

.bg-yellow {
  background-color: #F5D005;
}

.bg-blue {
  background-color: #559AC8;
}

.bg-gray {
  background-color: #F7F7F7;
}

.text-white, .main .area-btn, .card-picture-tittle {
  color: #FFFFFF;
}

.text-yellow-secondary {
  color: #FFD366;
}

.text-origin {
  color: #000000;
}

.text-purple {
  color: #8A82CC;
}

.text-blue {
  color: #559AC8;
}

.text-gray {
  color: #F7F7F7;
}

.text-gray-lighten {
  color: rgba(74, 74, 74, 0.5);
}

.position-relative, .card-picture-tittle {
  position: relative;
}

.position-absoulte {
  position: absolute;
}

.posion-sticky {
  position: -webkit-sticky;
  position: sticky;
}

.z-index-2 {
  z-index: 2;
}

.z-index-1 {
  z-index: 1;
}

.text-20 {
  font-size: 20px;
}

.text-bold {
  font-weight: bold;
}

.container {
  max-width: 1024px;
  padding: 0 40px;
  margin: 0 auto;
}

@media screen and (max-width: 576px) {
  .container {
    padding: 0 24px;
  }
}

.banner {
  -webkit-filter: brightness(1.3);
          filter: brightness(1.3);
  background-image: url("../image/Hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

@media screen and (max-width: 576px) {
  .banner {
    padding: 0 24px;
  }
}

.banner .tittle {
  letter-spacing: 4.2px;
  margin-bottom: 96px;
  color: #FFFFFF;
}

.option {
  padding: 11px 0 11px 9.5px;
  background-color: rgba(255, 255, 255, 0.6);
  width: 452px;
  max-width: 100%;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  background-image: url(../image/icons_down.png);
  background-repeat: no-repeat;
  background-position: 92.69% 50%;
}

.test {
  background-image: url(../image/icons_up.png);
}

.down-icon {
  margin-bottom: 65px;
}

.main {
  margin-top: -107px;
}

.main .popular {
  background: #FFFFFF;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px 26px 18px;
  margin-bottom: 37px;
  top: 0;
  left: 0;
  z-index: 999;
}

@media screen and (max-width: 425px) {
  .main .popular {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
  }
}

.main .popular .tittle {
  margin: 0 0 14px 0;
}

.main .area-btn {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 24%;
          flex: 0 1 24%;
  padding: 5.5px 0;
  border-radius: 5px;
  cursor: pointer;
}

.main .area-btn:last-of-type {
  margin: 0;
}

.main .area-btn:hover {
  -webkit-box-shadow: 0 0 3px 3px #000000;
          box-shadow: 0 0 3px 3px #000000;
}

@media screen and (max-width: 576px) {
  .main .area-btn {
    font-size: 18px;
    padding: 10px 0;
  }
}

.footer {
  padding: 24px 0;
}

.footer-link {
  margin-top: 15px;
}

.arrow-top {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.d-block {
  display: block;
}

.text-center {
  text-align: center;
}

.flex, .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-wrap, .card {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-content-between, .card {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-dir-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.align-items-baseline {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.align-items-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.align-self-center {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.align-self-center {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.flex-shrink-0 {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.flex-grow-1 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.flex-basis-50 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.flex-basis-100 {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.justify-content-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.ml-12 {
  margin-left: 12px;
}

.mb-13 {
  margin-bottom: 13px;
}

.mb-16 {
  margin-bottom: 1rem;
}

.zone-tittle {
  margin-bottom: 24px;
}

.dotted-border {
  margin-bottom: -12px;
  width: 100%;
  height: 0px;
  border-top: 1px dashed #559AC8;
}

.circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid #559AC8;
  padding: 6px 0;
  margin: 0 auto 65px;
}

.down-arrow {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 11px solid #559AC8;
  margin: 0 auto;
}

.card-items {
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  margin: 0 0 36px 0;
  -ms-flex-preferred-size: 49.1525%;
      flex-basis: 49.1525%;
}

@media screen and (max-width: 576px) {
  .card-items {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.card-picture {
  height: 155px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card-picture-tittle {
  top: 117px;
  left: 0;
  margin: 0 19px 0 22px;
}

@media screen and (max-width: 576px) {
  .card-picture-tittle {
    margin: 0 10px 0 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card-picture-tittle h3 {
    font-size: 20px;
    word-wrap: break-word;
  }
  .card-picture-tittle span {
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}

.card-info {
  z-index: 3;
  padding: 15px 24px 20px;
}

@media screen and (max-width: 576px) {
  .card-info {
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.card .text-oneLine {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  white-space: normal;
  overflow: hidden;
  -webkit-transition: ease-in 1s;
  transition: ease-in 1s;
}

.go-top {
  position: fixed;
  bottom: 195px;
  right: 0%;
  cursor: pointer;
}

.pagation {
  margin-bottom: 41px;
}

.page-num {
  margin: 0px 8px;
  padding: 4px 8px;
  background-color: transparent;
  cursor: pointer;
}

.page-num:hover {
  outline: 3px solid #559AC8;
}

.page-num:active {
  background-color: #FFFFFF;
}

.pre-page {
  margin-right: 26px;
}

.next-page {
  margin-left: 26px;
}

.pre-page,
.next-page {
  cursor: pointer;
}

@media screen and (max-width: 375px) {
  .pre-page,
  .next-page {
    margin: 0;
  }
}

.go-top:active {
  -webkit-transition: all 2s;
  transition: all 2s;
}

.d-none {
  display: none;
}
/*# sourceMappingURL=all.css.map */